{% extends "::base.html.twig" %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Welcome to the Blog!</h1>

        <a href="{{ url('blog_list') }}">Blog</a> |
        <a href="{{ url('post_create') }}">Create</a> |
        <a href="{{ url('tracker_dashboard') }}" target="_blank">Dashboard</a>
    </div>

    <h4>Current posts:</h4>
    <div class="list-group">
    {% for post in posts %}
        <a href="{{ url('post', { 'postSlug': post.slug } ) }}" class="list-group-item">
            {{ post.title }}
        </a>
    {% endfor %}
    </div>
{% endblock %}

