{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Create post</h1>

        <a href="{{ url('blog_list') }}">Blog</a> |
        <a href="{{ url('post_create') }}">Create</a> |
        <a href="{{ url('tracker_dashboard') }}" target="_blank">Dashboard</a>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}